body, html {
    margin: 0;

    a {
        text-decoration: none;
    }
}

nav {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.logo {
    width: 120px;
    padding-left: 21px;
    padding-top: 0;
}

.nav-link {
    list-style-type: none;
    color: #1B1B1B;
    align-items: center;

    a {
        text-decoration: none;
        color: #1B1B1B;
        letter-spacing: 1px;
    }
}

.navbar-light .navbar-brand {
    color: #1B1B1B;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #1B1B1B;
}

.navbar-light .navbar-nav .nav-link {
    color: #1B1B1B;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #60DF9E !important;
    transition: 0.3s;
}


.banner-top h1{
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    color: #1B1B1B;
    text-align: center;
}

.banner-top span {
    color: #B4B5C7;
}

.banner-mid h1 {
    color: #9595A7;
    font-size: 15px;
    padding-top: 20px;
    line-height: 18pt;
    padding-bottom: 20px;
    text-align: center;
}

.out-top {
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 1px;
    padding-top: 30px;
}

.banner-bottom a{
    color: #1B1B1B;
    text-decoration: none;
    list-style-type: none;
}

.banner-bottom a {
    color: #1B1B1B;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
}

.banner-bottom span {
    color: #60DF9E;
    font-size: 20px;
    font-weight: bold;
}

.banner-bottom {
    text-align: center;
    padding-bottom: 20px;
}

.link-banner:hover {
    color: #60DF9E !important;
    transition: 0.3s;
    text-align: center;
}

.second-section {
    background-color: #FAFAFA;
    padding: 50px 0px 50px 0px;
}

#img-person {
    width: 45%;
}

#title-secondary h3 {
    font-weight: bold;
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    font-size: 14pt;
    padding-top: 28px;
}

#ab-description {
    padding-top: 28px;
    line-height: 23px;
    color: #9595A7;
    word-spacing: 2px;
}

#card-description {
    padding-top: 28px;
    line-height: 23px;
    color: #9595A7;
    word-spacing: 2px;
}

.animation {
    display: block;
    margin: auto;
    width: 21%;
}

.animation-cards {
    padding-top: 30px;

}

.card-title {
    color: #60DF9E;
    padding-top: 20px;
    font-size: 18px;
}

.third-section {
    background-color:#5E5FAD;
    font-weight: bold;
    color: white;

    h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 15pt;
        padding: 35px 0px 26px 0px;
    }
}

.bar-title {
    font-size: 11pt;
    font-weight: normal;
}

.bar-container {
    padding-bottom: 30px;
}

#bar {
    width: 65%;
}

#bars {
    padding-bottom: 30px;
}

#title-third {
    font-weight: bold;
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
    padding-top: 75px;
    padding-bottom: 25px;

}

.card-date {
    font-size: 13pt;
    font-family: 'Poppins', sans-serif;
    color: #1B1B1B;
}

.card-address {
    font-size: 10pt;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    padding-top: 3px;
    font-weight: 100;
    color: #1B1B1B;
}

.card-info {
    padding-bottom: 35px;
    padding-top: 25px;

}

.card-text {
    padding-top: 4px;
    word-spacing: 2px;
}

.text-experience {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding-bottom: 32px;
    line-height: 27px;
}

.resume-card-title {
    font-family: 'Poppins', sans-serif;
    color: #60DF9E;
    font-size: 18px;
    padding-top: 15px;
}

.card-body {
    padding-bottom: 0px;
    padding-top: 0px;
}

.card-experience {
    word-spacing: 2px;
    color: #9595A7;

}

.page-footer {
    margin-top: 50px;
    background-color:#EAEAEA;
}

input, textarea, .btn-primary {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    color: #fff;
    background-color:#60DF9E;
    border-color: #60DF9E;
    margin-top: 20px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color:#5E5FAD;
    border-color: #5E5FAD;
}

.contact-title-footer {
    color: #60DF9E;
    padding-top: 38px;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    padding-bottom: 35px;
}

#content-footer {
    padding-top: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    word-spacing: 10px;
    font-size: 15px;
    color: #1B1B1B;
}

.footer-bottom {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: dimgrey;
    margin-top: 50px;
}

a { 
    color: inherit; 
}

.footer-icon {
    width: 70px;
    margin:6px;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {  
    .navbar {
        padding: 20px 60px;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1.6rem;
        padding-left: 1.6rem;    
    }
    .banner-mid h1 {
        line-height: 19pt;
    }

    .text-experience {
        padding-bottom: 32px;
        padding-top: 0px;
    }

    #vertical {
        height: 0vh;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width: 576px) {
    .navbar {
        padding: 0px 60px 50px;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: .8rem;
        padding-left: .8rem;    
    }
    .banner-top h1{
        text-align: left;
    }

    .banner-mid h1 {
        text-align: left;
        line-height: 20pt;
    }

    .banner-bottom {
        text-align: left;
        font-size: 15px;
        padding-bottom: 60px;
    }
    
    #img-person {
        width: 30%;
    }
    
    #title-secondary h3{
        font-size: 15pt;
        padding-top: 28px;
    }

    #ab-description {
        line-height: 27px;
    }

    #vertical {
        border: none;
        border-left: 1px solid hsla(200, 10%, 50%,100);
        height: 0vh;
        width: 1px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .navbar {
        padding: 0px 150px 60px;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1.6rem;
        padding-left: 1.6rem;    
    }

    .logo {
        width: 129px;
    }

    .banner-mid h1 {
        line-height: 25pt;
    }

    #ab-description{
        line-height: 29px;
        color: #9595A7;
        word-spacing: 4px;
        font-size: 17px;
    }

    #img-person {
        width: 26%;
    }

    #card-description {
        font-size: 17px;
        word-spacing: 4px;
        line-height: 29px;
    }

    .third-section {
        background-color:#5E5FAD;
        font-weight: bold;
        color: white;
    
        h3 {
            font-family: 'Poppins', sans-serif;
            font-size: 18pt;
            padding: 45px 0px 26px 0px;
        }
    }

    .card-experience {
        padding-top: 20px;
        padding-left: 50px;
        text-align: left;
    }

    .footer-icon {
        width: 60px;
        padding-top: 45px;
    }

    #vertical {
        border: none;
        border-left: 1px solid hsla(200, 10%, 50%,100);
        height: 85vh;
        width: 1px;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {  
    .navbar {
        padding-top: 0px;
        padding-right: 300px;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1.6rem;
        padding-left: 1.8rem;    
    }
    
    .logo {
        width: 143px;
    }

    .banner-top h1{
        font-size: 50px;
    }

    .banner-mid h1 {
        font-size: 19px;
        line-height: 25pt;
    }

    #img-person {
        width: 21%;
    }
    
    #title-secondary h3{
        font-size: 16pt;
        padding-top: 30px;
    }
    #ab-description {
        padding: 26px 120px;
        font-size: 17px;
        line-height: 25pt;
        word-spacing: 4px;
    }

    #card-description {
        font-size: 17px;
        word-spacing: 4px;
        line-height: 25pt;
    }

    .animation-cards {
        padding-top: 0px;
    }

    .card-date {
        text-align: left;
    }

    .card-address {
        text-align: left;
    }

    #bar {
        width: 55%;
    }

    #vertical {
        border: none;
        border-left: 1px solid hsla(200, 10%, 50%,100);
        height: 76vh;
        width: 1px;
        color: red;
    }
}